@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

* {
    font-family: 'Cairo', sans-serif;

}
.grey-text{
    color: #565666;
}
.navigation {
    ul li a {
        color: black;
        font-weight: bolder;

    }
    .submit-green{
    background-color: #0B760F;

    }
    .submit-purple{
        background-color: #510B76;
    
        }

    .submit-btn {
        color: white;
        border-radius: 24px;
        -webkit-border-radius: 60px;

    }

    .submit-btn {
        animation: glowing 1900ms infinite;
    }

    @keyframes glowing {
        0% {
            // background-color: #510B76;
            box-shadow: 0 0 5px #dfec23;
        }

        50% {
            // background-color: #510B76;
            box-shadow: 0 0 20px #dfec23;
        }

        100% {
            // background-color: #510B76;
            box-shadow: 0 0 5px #dfec23;
        }
    }

    input {
        border: 1px solid #dedede;
        border-radius: 24px;
    }

    .tog-wrapper {
        background-color: #510B76;
        color: white;

    }
    .purple-button{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #510B76;
    }
    .green-button{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #0B760F;
    }

}


.main-container {
    background-color: #510B76;
    color: white;

    .text-wrapper {
        font-family: 'Cairo', sans-serif;
    }

    .first-row {
        width: 60%;
    }

    .coins-img{
        margin-right: 12px;
    }

    .headline {
        width: 60%;
    }

    .sec-headline {
        width: 60%;
    }
    
}
.green{
    background-color: #0B760F;
}
.purple{
    background-color: #510B76;
}

.second-container {
    .img-holder {
        position: relative;
        display: block;

    }
    .main-img{
        z-index: 3;
    }

    .back-img {
        position: absolute;
        top: 70%;
        right: 62%;
        z-index: 0;

    }

    .headline-wrapper {
        width: 73%;
    }
}

.mazaya-container{
    .mazaya-text{
        width: 63%;
    }
}

.card-container{

    .rounded-card{
        border-radius: 30px;
    }

    .icon-wrapper{
        width: 50%;
        border-radius: 15px;
        background-color: #FAF9F9;
    }
    .test1{
        font-weight: 500;
    }
    .test2{
    font-size: 16px;
    color: #16151A;
    }
}

// .card-background{
//     // width: 50%;
//     // margin: 0 auto;
//     // border: 30px;
//     background-color: #efebf2;
// }



// .card-container{

//     .rounded-card{
//         border-radius: 30px;
//     }

//     .icon-wrapper{
//         width: 50%;
//         border-radius: 15px;
//         background-color: #FAF9F9;
//     }
//     .test1{
//         font-weight: 500;
//     }
//     .test2{
//     font-size: 16px;
//     color: #16151A;
//     }
// }


body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #222;
  position: relative;
}

.modal {

    // display: flex;
    // height: 40%;
    // flex-direction: column;
    // justify-content: center;
    // width: 50%;
    // padding: 1rem;
    // position: fixed;
    // top: 10%;
    // right: 22%;
    // background-color: white;
    // border: 1px solid #ddd;
    // border-radius: 15px;

    display: flex;
    height: 55%;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 1.5rem;
    position: fixed;
    top: 18%;
    right: 24%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;

  }
  
  .modal .flex {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    margin-right: 15px;
    justify-content: space-between;
  }
  
  .btn {

    font-weight: 700;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
  }
  
  .btn-open {
    bottom: 150px;
  }
  
  .btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
    padding-bottom: 15px;
    padding-bottom: 15px;

  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }
  
  .hidden {
    display: none;
  }
  

